.btn{
	position: relative;
	width: 100px;
	height: 25px;
	padding: 5px;
	text-align: center;
	font-size: 13px;
	vertical-align: center;
	border: 1px solid rgb(86,120,98);
	background-color: rgb(86,120,98);
	color: ghostwhite;
	border-radius: 5px 5px 5px 5px;
	margin-left: 20px;
	margin-top: 100px;
}
.btn input{
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}
#box1{
	border: 1px solid #F5F5DC;
	width: 20px;
	height: 30px;
}
body{
	background-color: #F5F5DC;
}